@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.nav {
    background-color: $light-silver;
    color: $portfolio-lilac;

    &__list {
        display: flex;
        flex-direction: column;
        padding: 1rem 0 0 0;
        @include tablet {
            flex-direction: row;
            justify-content: flex-end;
            padding: 1rem 2rem 0 2rem;
        }
        @include desktop {
            width: $desktop-content-width;
            padding: 1rem 0 0 0;
            margin: 0 auto;
        }
    }
    &__item {
        color: $portfolio-lilac;
        text-decoration: none;
        list-style: none;
        display: block;
        margin: 0 auto 1rem auto;
        width: fit-content;
        @include tablet {
            margin: 0 0 1rem 1.5rem;   
        }
        @include desktop {
            margin: 0 0 1rem 2rem;
        }
    }
}