@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

header {
    font-family: "Albert Sans";
}

.nav {

    &__list {

    }
    &__item {
        text-decoration: none;
        list-style: none;
    }
}