@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.skills-page {
    min-height: 80vh;
    max-height: fit-content;
    @include tablet {
        max-height: none;
        height: 87vh;
    }
    @include desktop {
        width: $desktop-content-width;
        margin: 0 auto;
    }
    &__content {
        padding: 2rem 1.5rem;
        display: flex;
        flex-direction: column;
        @include tablet {
            padding: 2rem;
        }
        @include desktop {
            padding: 2rem 0;
        }
    }
    &__header {
        color: $portfolio-grey;
        margin-left: 0.5rem;
        font-size: 1.6rem;
        @include tablet {
            margin-left: 0;
        }
        @include desktop {
            margin: 0;
        }
    }
    &__skills {
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
    }
}
.front-end {
    padding: 1rem;
    width: 10rem;
    margin: 1rem 1rem 0 0;
    color: $medium-grey;
    border: $portfolio-grey 1px solid;
    border-radius: 0.5rem;
    &__header {
        color: $med-dark-grey;
        margin-bottom: 0.4rem;
    }
    &__item-container {
        display: flex;
    }
    &__item {
        margin: 0.25rem 0 0.4rem 1rem;
    }
    &__icon {
        height: 1.5rem;
        width: 1.5rem;
        margin-top: 0.1rem;
        margin-left: 0.4rem;
    }
}
.back-end {
    padding: 1rem;
    width: 10rem;
    margin: 1rem 1rem 0 0;
    color: $medium-grey;
    border: $portfolio-grey 1px solid;
    border-radius: 0.5rem;
    @include tablet {
        margin: 1rem 1rem 0 0;
    }
    &__header {
        color: $med-dark-grey;
        margin-bottom: 0.4rem;
    }
    &__item-container {
        display: flex;
    }
    &__item {
        margin: 0.25rem 0 0.4rem 1rem;
    }
    &__icon {
        height: 1.3rem;
        width: 1.3rem;
        margin-top: 0.1rem;
        margin-left: 0.4rem;
    }
}
.other {
    padding: 1rem;
    width: 10rem;
    margin: 1rem 0 0 0;
    color: $medium-grey;
    border: $portfolio-grey 1px solid;
    border-radius: 0.5rem;
    &__item-container {
        display: flex;
    }
    &__item {
        margin: 0.25rem 0 0.4rem 1rem;
    }
    &__header {
        color: $med-dark-grey;
        margin-bottom: 0.4rem;
    }
    &__icon {
        height: 1.3rem;
        width: 1.3rem;
        margin-top: 0.1rem;
        margin-left: 0.4rem;
    }
}