@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
    &__copyright {
        color: $portfolio-lilac;
        margin: 1rem auto;
        width: fit-content;
    }
}