@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.resume-page {
    height: 74vh;
    @include tablet {
        height: 87vh;
    }
    &__content {
        padding: 2rem 1.5rem;
    }
    &__header {
        color: $portfolio-grey;
    }
    &__page {
        width: fit-content;
        margin: 0 auto;
    }
}